<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ERPEntitiesNew" connectionString="metadata=res://*/ERPEntity.csdl|res://*/ERPEntity.ssdl|res://*/ERPEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=136.196.110.1;initial catalog=ERP_Dev;persist security info=True;user id=developers;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>