@model ERP.Models.AdminUser.VMERPRoles
@{
    ViewBag.Title = "角色管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div align="right">
        <form class="form-inline frmFind" role="form" runat="server" method="get">
            <div class="search_Condition box_1k">
                <ul>
                    <li>
                        <label class="col-xs-2">角色名：</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(u => u.Name, new { @class = "form-control" })
                        </div>
                    </li>
                    <li class="search">
                        <button id="bntFind" type="submit" onclick="return OA.s(this)" class="btn btn-info">查询</button>
                        <button id="bntClearAll" type="button" class="btn btn-info">清空所有</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>

    <table id="tblProducts" class="easyui-datagrid" style="width:100%;"
           data-options="resizeHandle:'right',singleSelect:false,pageList: [10,50,200,500,1000], pageSize:50,remoteSort:true,multiSort:true,pagination:true,url:'@Url.Content("~/Auth/GetAllRoles")?@HttpContext.Current.Request.QueryString',method:'get',onLoadSuccess:onLoadSuccess,@(ERP.Tools.Keys.EasyUiDataGridSetting)">
        <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th data-options="field:'Name',width:200,align:'center',title:'Name'">角色</th>
                <th data-options="field:'Description',width:300,align:'center',title:'Name'">描述</th>
                <th data-options="field:'RoleID',align:'center',formatter:operationFormatter">操作</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts
{
    <script>
        $(function () {
            //清空所有
            $("#bntClearAll").click(function () {
                $("#Name").val("");
            });
        })

        function onLoadSuccess() {
            jav.initGridCellTooltips(["ck", "RoleID"]);
        }

        function operationFormatter(val, row, index) {
            var ops = "";
            ops += "<a wintype='idialog' winsize='900,800,yes' class='btn btn-default btn-xs w_auto' onclick='return OA.i(this)' href='@(Url.Content("~/Auth/EditRole/"))" + val + "'>编辑</a>";
            //ops += "&nbsp;<button class='btn btn-danger btn-xs w_auto' onclick='deleteRole(" + val + ")'>删除</button>";
            return ops;
        }

        function deleteRole(roleid) {

        }
    </script>
}