<div id="CustomerCode_Test" style="display:none;">
    <span id="ContractTerms_Test1">
        1. 两套确认样，一套寄给客人确认，另一套待客人确认后由我司签字退还贵厂做大货生产依据。<br />
        2. 所有产品都要符合美国法定环保标准，产品及产品表面含铅量不得超过90PPM。<br />
        3. 每个产品上要挂彩色吊牌，需先做电脑排版给我司确认。待我司确认方可制作样张，样张寄客人确认后方可货印制。为确保顺利及时完成包装确认，减少贵司多次打样产生额外费用。我司将统一代做吊卡，所产生的费用须由贵承担（内容及费用将另行通知）。印制完成后由我司安排快递到付给贵司。<br />
        4. 外箱唛头稍后通知，须经我司确认后方可大批量印制和大货包装。<br />

        5. 所有产品包装(吊卡及外箱唛头等）材料上的油墨，UV油/膜等均须使用环保材料，其重金属含量不得过100PPM。<br />
        6. 产品包装确认后10个工作日内需提供两套含完整包装的拍照样给客人，客人确认后方可大货包装和出运。<br />
        7. 检测样须提交给客人指定的上海BV实验室做检测。检测的要求以及数量已通知。贵厂须保证检测样能顺利通检测。如果不获通过，需重测，则贵司承担重测费（重测费依据上海BV实验室的收费标准来执行。）检测样须经BV检测合格后大货方可出运。所有大货质量须与检测样、确认样相同。<br />
        8. 产品如有用到塑料袋或汽泡袋包装，塑料袋或气泡袋上均要印有或贴有常规警告语，待我司确认警告语内容方可大货印制。<br />
        9. 所有外箱必须为双瓦无钉纸箱，不得使用打包带，工字型封箱。所有外箱都要达到客人要求的纸箱标准：“每平方英寸的承重力不小于275磅”。外箱须过客人六面摔箱测试，摔箱高度为60-90CM,
    </span>
    <span id="ContractTerms_Test2">单只外箱尺寸不得超过94X21X25.5CM/1.78'，</span>
    <span id="ContractTerms_Test3">订单总体积不得超过</span>
    <span id="ContractTerms_Test4">41.67M3，</span>
    <span id="ContractTerms_Test5">
        否则客人有权就超过部分向贵司索赔海运费差额，安全包装的细节请与我司QC确认。

        10. 出货前须提供一套含完整包装的出货样给我司。产品质量须与确认样相符，若因质量问题造成客户索赔须由贵厂负责。<br />
        11. 该合同须通过客人的验厂和验货方可出货。<br />
        12. 请按时出货。客人将对延迟出运予以一定的罚款并有权取消订单：<br />
        &nbsp;&nbsp;A）延迟出运1-7天，罚款金额不少于客人订单金额的4％。<br />
        &nbsp;&nbsp;B）延迟出运8-14天，罚款金额不少于客人订单金额的7％。<br />
        &nbsp;&nbsp;C）延迟出运15天或以上，罚款金额不少于客人订单金额的10％。<br />
        13. 本合同为货交大连港仓库价格，如果将来改为拉柜，拉柜费用由贵厂承担。<br />
        14. 本产品为我司专有设计， 贵厂不得通过任何方式销售给其他公司和客户， 否则我司有权要求索赔。<br />
        15. 本合同价格为含税价，付款方式为结关后30天左右凭贵厂提供的有效增值税发票，由我司付款。<br />
        16. 请于收到该合同三个工作日内签字盖公章回传至021-61183771，否则视为自动放弃。<br />
    </span>
</div>

<div id="CustomerCode_DGHW" style="display:none;">
    1. 请提供3套自测样供我司送客人指定实验室按DG检测标准做产品自测，寄样时间将另行邮件通知。此单自测费用由我司承担。<br />
    2. 请提供1套自测样供我司送客人指定实验室做PPR测试（产前产品审核），寄样时间将另行邮件通知。PPR测试费用由我司承担。<br />
    3. 确认样：生产前需提供两套样品(MOCK UP 包装）给客人确认，确认后则此款产品不可以更改，
    后续所有样品和大货生产必须以此为准，除非客人特别提出修改。<br />
    4. 请免费提供2箱含完整出货包装的销售样，寄样时间另行邮件通知。
    签字样须妥善保管，不允许擅自拆封，否则因此而产生的任何后果均由工厂承担。<br />
    5. 每个产品需贴UPC价标及CARB标。安全包装细节请与我司黄岩办确认。<br />
    &nbsp;&nbsp;1）产品层贴或插杆与插牌的连接处需牢固，亮粉需不易脱落。<br />
    &nbsp;&nbsp;2）每只产品需贴UPC价标及CARB标；标贴均为可移性的,但粘性需很牢固,销售中不可有脱落现象。UPC价标和CARB标签要求撕下来不能有胶水印痕。<br />

    &nbsp;&nbsp;4）大货所用到的MDF或夹板，必须符合美国加州标准。每只产品背面须贴CARB标签，尺寸为：3CM X 2CM，标签内容由我司依据贵厂的CARB证书提供，贵厂负责印刷和包装。<br />
    &nbsp;&nbsp;5）DG要求大货产品及表面涂层的含铅量的不得超过90PPM。如果抽检样的含铅测试结果超标，DG将取消整张订单并索赔。<br />
    &nbsp;&nbsp;6）DG要求大货产品的包装材料（如价标、UPC标、吊卡/展示盒、纸箱、塑料袋、气泡袋等）的材质及表面油墨重金属（铅，铬，汞，镉等）含量均不得超过100PPM。如果抽检样的含铅测试结果超标，DG将取消整张订单并索赔。<br />
    &nbsp;&nbsp;7）DG要求产品及外包装纸箱的湿度须在12度以内。<br />
    6. 质量要求依据签字样。产品质量须与签字样相符，若因质量问题造成DG索赔，贵厂将承担由此产生的一切责任和费用。<br />
    7. 抽检时间不得迟于2016年4月25日。届时验货员将从大货中抽取6-18套测试样，密封后寄往实验室做测试。
    如果测试通过，我司将承担测试费。如果含铅测试通过而其他项目没有通过，需重新向实验室申请抽检并送样做重测。重测费和抽检费由贵
    厂承担。如果含铅测试没有通过，DG将取消整张订单。详情回签的《DG供应厂商合作协议书》。<br />
    8.中期抽检的验货员会随机抽取1套样品寄给DG确认，如果同之前的确认样是一样的则没有问题。
    如果跟确认样不一样，所有的订单程序都必须从头开始，即重新寄确认样，重新抽检，重做大货。<br />
    9. 中期抽检的验货员会在抽检的时候随机签1套样品做为封样并以此做为尾期验货的依据， 签字样须妥善保管，不允许擅自拆封，
    否则因此而产生的任何后果均由工厂承担。<br />
    10.WCA验厂（社会责任验厂）需达到DG规定的85分以上，有效期为1年。首次验厂低于85分的首次验厂费用以及重验厂费用均由贵厂承担。
    WCA验厂通过是DG允许出运的必备条件之一。请务必重视《DG供应厂商合作协议书》。2013年11月1日开始，DG验厂不再由供应商向
    验厂公司提前申请具体的验厂时间；在上次年审的有效期前65天之内的任意时间，验厂公司将随时到访工厂验厂，工厂需提前做好
    随时被验厂准备。
    <br />
    11.DG要求工厂自2012年3月1日起，首张订单出货期前30天，需自行申请并通过DG的SQP验厂（即供应厂商资格认证，或技术验厂）。
    首次SQP验厂需达客人要求的71分以上，若能达到85分，验厂结果永久有效，若得分在71-85分之间，需整改后重验厂。
    SQP首次和重验厂费用均由工厂承担。详情参见更新的《DG供应厂商合作协议书》。<br />
    12. 尾期验货不得迟于2016年6月5日。尾期验货通过是DG允许出运的必备条件之一。请务必重视。<br />
    13. 尾期抽检：若工厂SQP验厂得分低于71分，尾期验货的同时需再次抽样寄BV做大货产品核实测试。尾期抽检样测试只测产品涉及
    到与CPSC安全标准有关的项目，如产品铅含量及包装重金属含量核实测试。详情参见更新的《DG供应厂商合作协议书》。<br />
    14. 客人要求单个外箱材积不得超过0.38'，外箱参考尺寸为93x19.5x6cm / 4只。 单箱材积误差不得超过百分之三，否则DG将
    向贵厂索赔由此产生的海运费差额。详情见回签的《DG供应厂商合作协议书》。<br />
    15. 外箱包装须过DG六面摔箱测试，摔箱高度为60-90CM,外箱材质需能通过DG客人要求的200磅压力测试。<br />
    16. 请按时出货。因贵厂原因而延期出运，将会产生高额罚款。详见回签的《DG供应厂商合作协议书》。<br />
    17. 报关品名为：木制装饰品。工厂出运前必须办理植检，并需提供植检凭条。<br />
    18. 送货时需携带正确的和齐全的进仓资料，同时携带少量正确的空纸箱做备用。<br />
    19. 本合同产品是我司专有设计。贵厂不得通过任何方式销售给其他公司或客户，否则我司将向贵厂索赔。<br />
    20. 本合同价格货交上海人民币含税价。如实际出运改为工厂拉柜，则需退还我司￥55元/立方。<br />
    21. 付款方式：贵厂在结关后60天内按我司书面通知提供有效的增值税发票，由我司财务付款。
    若贵厂因质量问题出具保函才被允许出运的订单，付款日期将按原付款时间顺延30天安排。<br />
    22. 其他未尽事宜，详情见回签的《DG供应厂商合作协议书》。<br />
    23.请于收到该合同三个工作日内签字盖公章回传至021-61183771，否则视为自动放弃。<br />

</div>