<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="ERPEntitiesNew" connectionString="metadata=res://*/ERPEntity.csdl|res://*/ERPEntity.ssdl|res://*/ERPEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=136.196.110.1;initial catalog=ERP_Dev;user id=developers;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--本机环境-->
    <add key="resourceSitePhysicsPath" value="F:\Ali\SourceCode\ERP.WebNew\data" />
    <add key="resourceSiteVirtualPath" value="http://localhost:9001/" />
    <add key="resourceSitePhysicsPath_EmailAttachs" value="F:\Ali\SourceCode\ERP.WebNew\EmailAttachs" />

    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />

    <add key="MailServer" value="smtp.exmail.qq.com" />
    <add key="MailSendPort" value="25" />
    <add key="MailSendAddress" value="a@b.com" />
    <add key="MailSendName" value="" />
    <add key="MailSendPwd" value="123" />
    
    <add key="EnableSsl" value="false" />
    <add key="ERPUrl" value="http://136.196.110.1:9000" />
    <add key="HangFireUrl" value="http://192.168.1.28:8002" />

    <add key="log4net.Internal.Debug" value="true" />

    <add key="validUploadFileExtensions" value="img;jpg;png;xls;xlsx;zip;pdf;doc;docx;" />

    <add key="mongoDBName" value="ERP" />
    <add key="mongoConn" value="mongodb://dev:123456@136.196.110.1:27017/ERP" />
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="240" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" protection="All" name=".ASPXAUTH" timeout="480" slidingExpiration="true" />
    </authentication>

    <machineKey validationKey="1B3E6FECFB875A5BB1F7C16055F7BB1D230F367B68EA114E9BD43AC9367D482CE803F4857163C87A53A3D6097A89B0DBEB1C1E17C9A14600555546E8FDD17CC7" decryptionKey="005DD51C1BF7A241F352A9DC7D3BBE5B7E4B75979F1225A3" validation="SHA1" />

    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" type="CustomMembershipEF.Infrastructure.CustomMembershipProvider" connectionStringName="UsersContext" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <directoryBrowse enabled="true" />
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="E:\Source\TestProjlog4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>